body {
  margin: 0;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App > h1, h2, h3, h4, h5, h6 {
  color: yellow;
}

.app-wrapper {
  background-color: #AA361A;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.general-button {
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.general-button:hover {
    transform: scale(1.1);
}
