.map-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}

.map-contents {
  flex: 1;
  display: flex;
  padding: 40px;
  gap: 40px;
}

/* LEFT: MAP */
.main-map {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}