.map-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}

.map-contents {
  flex: 1;
  display: flex;
  padding: 40px;
  gap: 40px;
}

.main-map {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.map-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-mode {
  font-size: 2rem;
}

.timer {
  background-color:beige;
  width: 50%;
  color: black;
  border-radius: 5px;
  margin: 1rem 0rem;
}