.settings-main-container {
    padding-top: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.settings-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-arrow{
    margin: 1rem auto 0 1.5rem;
}

.back-arrow > img {
    height: 2.5rem;
    transition: ease-in-out 0.2s;
    margin-right: auto;
}

.back-arrow > img:hover{
    transform: scale(1.1);
    
}

.mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.mode-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 1rem 5rem 1rem 1rem;
}

.mode-form label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


